{{#extends "base"}}

{{#block "content"}}
<h1>All Food Records</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Calories</th>
            <th>Tags</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each foodRecords }}
        <tr>
            <td>{{this.foodName}}</td>
            <td>{{this.calories}}</td>
            <td>{{this.tags}}</td>
            <td>
                <a href="update-food/{{this._id}}" class="btn btn-primary">Update</a>
                <a href="/delete-food/{{this._id}}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/block}}

{{/extends}}